.env
.env.example
.git/**
.gitignore
.ghost/**
.vscode/**
node_modules/**
companion/**
test-*.ts
extension/**
sdk/**
bin/**
tsconfig.json
README.md
CDR.md
DEPLOYMENT.md
HOSTING_AND_ROADMAP.md
package-lock.json
LICENSE
